<div class="ui-addTarget__wrapper">
	<div class="ui-addTarget__top">
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">目标名称</span>
			<input type="text" class="ui-addTarget__textRight" v-model="target_name" readonly="readonly"></input>
		</div>
		<div class="ui-addTarget__item" v-touch:tap.prevent="onSelectSaleType">
			<span class="ui-addTarget__textLeft" >目标类型</span>
			<input type="text" class="ui-addTarget__textRight" v-model="sale_type_text" placeholder="请选择" readonly="readonly"></input>
		</div>
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft" >目标范围</span>
			<input type="text" class="ui-addTarget__textRight" v-model="target_range" readonly="readonly"></input>
		</div>
		<!-- <div class="ui-addTarget__item" v-show='goal_rang == "Goods"' v-touch:tap.prevent="onSelectSaleType">
			<span class="ui-addTarget__textLeft" >目标类型</span>
			<input type="text" class="ui-addTarget__textRight" v-model="sale_type_text" readonly="readonly"></input>
		</div> -->
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">具体目标</span>
			<input type="text" class="ui-addTarget__textRight" v-model="target_details" readonly="readonly"></input>
		</div>
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">开始时间</span>
			<input type="text" class="ui-addTarget__textRight"  v-model="startDay" readonly="readonly"></input>
		</div>
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">结束时间</span>
			<input type="text" class="ui-addTarget__textRight"  v-model="endDay" readonly="readonly"></input>
		</div>
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">目标周期</span>
			<span class="ui-addTarget__textRightTwo">
				<input type="number" v-model="target_cycle" readonly="readonly"></input>天
			</span>
		</div>
	</div>
	<div class="ui-addTarget__bottom">
		<div class="ui-addTarget__item" v-for='item in list'>
			<span class="ui-addTarget__textLeft">{{item.store_name}}</span>
			<span class="ui-addTarget__textRightTwo">
				<input type="number" class="ui-addTarget__detail" class="ui-addTarget__textRight" placeholder="请输入" onfocus="this.placeholder=''" onblur="this.placeholder='请输入'" v-model="item.each_goal" v-on:input='onSumTotal'><span v-show='(sale_type_value == "sales_price" || sale_type_value == "store_price")'>元</span>
			</span>
		</div>
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">门店目标</span>
			<span class="ui-addTarget__textRightTwo">
				<span class="ui-addTarget__totalTwo"  v-show='sale_type_value == "sales_price"'>{{shop_target|trans-price-before}}</span>
				<span class="ui-addTarget__totalTwo"  v-show='sale_type_value == "store_price"'>{{shop_target|trans-price-before}}</span>
				<span class="ui-addTarget__totalTwo"  v-show='sale_type_value == "sales_volume"'>{{shop_target / 100}}</span>
				<span v-show='(sale_type_value == "sales_price" || sale_type_value == "store_price")'>元</span>
			</span>
		</div>
	</div>
	<div class="ui-addTarget__bottom">
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">预设目标</span>
			<span class="ui-addTarget__textRightTwo">
				<span class="ui-addTarget__totalTwo" v-show='sale_type_value == "sales_price"'>{{preinstall_goal|trans-price-before}}</span>
				<span class="ui-addTarget__totalTwo" v-show='sale_type_value == "store_price"'>{{preinstall_goal|trans-price-before}}</span>
				<span class="ui-addTarget__totalTwo" v-show='sale_type_value == "sales_volume"'>{{preinstall_goal / 100}}</span>
				<span v-show='sale_type_value == "sales_price"'>元</span>
			</span>
		</div>
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">确认门店目标</span>
			<span class="ui-addTarget__textRightTwo">
				<input type="number" class="ui-addTarget__totalChange" v-model="confirm_target" placeholder="请输入门店目标"><span v-show='(sale_type_value == "sales_price" || sale_type_value == "store_price")'>元</span>
			</span>
		</div>
	</div>

	<button class="ui-targetManage__add" v-touch:tap="onAddItem" >保存</button>
</div>
